In [1]:
import pandas as pd
import os
import json
import ipywidgets as ipw

In [9]:
a = list(range(100))
output = ipw.Output()

b = ipw.Dropdown(options=a)

display(b, output)

def on_value_change(change):
    with output:
        print(f"\r{change['new']}", end="")

b.observe(on_value_change, names='value')

Dropdown(options=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25…

Output()

In [2]:
import get_dataframe_lco_default as gd

In [3]:
dirpath = "data2/lco/coj_2m0a_2016-02-01_2016-08-01/"
datafile_list = filter(lambda x: x.startswith('data'), os.listdir(dirpath))
df = None

for datafile in datafile_list:
    filepath = os.path.join(dirpath, datafile)
    data = json.load(open(filepath, "r"))
    new_dataframe = pd.DataFrame(data)

    if type(df) == type(None):
        df = new_dataframe
    else:
        df = pd.concat([df, new_dataframe], axis=0)

df.reset_index(inplace=True)
df

C:\Users\Foggy\AppData\Local\Temp\ipykernel_7284\2886139909.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_dataframe], axis=0)

,index,id,basename,area,related_frames,version_set,filename,url,RLEVEL,DAY_OBS,...,INSTRUME,OBJECT,SITEID,TELID,EXPTIME,FILTER,L1PUBDAT,OBSTYPE,BLKUID,REQNUM
0,0,4560853,coj2m002-fs01-20160731-0042-d00,"{'type': 'Polygon', 'coordinates': [[[14.62160...",[19720335],"[{'id': 20838003, 'created': '2020-03-16T13:37...",coj2m002-fs01-20160731-0042-d00.fits.fz,https://archive-lco-global.s3.amazonaws.com/co...,0,2016-07-31,...,fs01,,coj,2m0a,900.000000,air,2016-07-31T06:26:36.154000Z,DARK,88091935.0,NaN
1,1,19720335,coj2m002-fs01-20160731-0042-d91,"{'type': 'Polygon', 'coordinates': [[[14.62134...","[4560853, 3536542]","[{'id': 20843168, 'created': '2020-03-16T15:23...",coj2m002-fs01-20160731-0042-d91.fits.fz,https://archive-lco-global.s3.amazonaws.com/co...,91,2016-07-31,...,fs01,,coj,2m0a,900.000000,air,2016-07-31T06:26:36.154000Z,DARK,88091935.0,NaN
2,2,4560692,coj2m002-fs01-20160731-0041-d00,"{'type': 'Polygon', 'coordinates': [[[10.66148...",[19720342],"[{'id': 20838012, 'created': '2020-03-16T13:37...",coj2m002-fs01-20160731-0041-d00.fits.fz,https://archive-lco-global.s3.amazonaws.com/co...,0,2016-07-31,...,fs01,,coj,2m0a,900.000000,air,2016-07-31T06:10:50.967000Z,DARK,88091935.0,NaN
3,3,19720342,coj2m002-fs01-20160731-0041-d91,"{'type': 'Polygon', 'coordinates': [[[10.66122...","[4560692, 3536542]","[{'id': 20843175, 'created': '2020-03-16T15:23...",coj2m002-fs01-20160731-0041-d91.fits.fz,https://archive-lco-global.s3.amazonaws.com/co...,91,2016-07-31,...,fs01,,coj,2m0a,900.000000,air,2016-07-31T06:10:50.967000Z,DARK,88091935.0,NaN
4,4,4560594,coj2m002-fs01-20160731-0040-d00,"{'type': 'Polygon', 'coordinates': [[[6.701590...",[19720357],"[{'id': 20838028, 'created': '2020-03-16T13:38...",coj2m002-fs01-20160731-0040-d00.fits.fz,https://archive-lco-global.s3.amazonaws.com/co...,0,2016-07-31,...,fs01,,coj,2m0a,900.000000,air,2016-07-31T05:55:05.764000Z,DARK,88091935.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20118,118,146227,coj2m002-fs01-20160201-0003-b00,"{'type': 'Polygon', 'coordinates': [[[179.9397...","[146396, 19714860]","[{'id': 20827059, 'created': '2020-03-16T09:17...",coj2m002-fs01-20160201-0003-b00.fits.fz,https://archive-lco-global.s3.amazonaws.com/co...,0,2016-02-01,...,fs01,,coj,2m0a,0.000000,air,2016-02-01T05:21:50.351000Z,BIAS,76661666.0,NaN
20119,119,19714895,coj2m002-fs01-20160201-0002-b91,"{'type': 'Polygon', 'coordinates': [[[178.7851...","[146242, 3536542]","[{'id': 20829619, 'created': '2020-03-16T10:38...",coj2m002-fs01-20160201-0002-b91.fits.fz,https://archive-lco-global.s3.amazonaws.com/co...,91,2016-02-01,...,fs01,,coj,2m0a,0.000000,air,2016-02-01T05:17:59.153000Z,BIAS,76661666.0,NaN
20120,120,146242,coj2m002-fs01-20160201-0002-b00,"{'type': 'Polygon', 'coordinates': [[[178.7854...",[19714895],"[{'id': 20827073, 'created': '2020-03-16T09:17...",coj2m002-fs01-20160201-0002-b00.fits.fz,https://archive-lco-global.s3.amazonaws.com/co...,0,2016-02-01,...,fs01,,coj,2m0a,0.000000,air,2016-02-01T05:17:59.153000Z,BIAS,76661666.0,NaN
20121,121,146233,coj2m002-fs01-20160201-0001-b00,"{'type': 'Polygon', 'coordinates': [[[178.7854...","[146411, 19714998]","[{'id': 20827126, 'created': '2020-03-16T09:17...",coj2m002-fs01-20160201-0001-b00.fits.fz,https://archive-lco-global.s3.amazonaws.com/co...,0,2016-02-01,...,fs01,,coj,2m0a,0.000000,air,2016-02-01T05:17:13.377000Z,BIAS,76661666.0,NaN
20122,122,19714998,coj2m002-fs01-20160201-0001-b91,"{'type': 'Polygon', 'coordinates': [[[178.7851...","[146233, 3536542]","[{'id': 20829974, 'created': '2020-03-16T10:45...",coj2m002-fs01-20160201-0001-b91.fits.fz,https://archive-lco-global.s3.amazonaws.com/co...,91,2016-02-01,...,fs01,,coj,2m0a,0.000000,air,2016-02-01T05:17:13.377000Z,BIAS,76661666.0,NaN

In [7]:
df, bl, raw = gd.setup(return_raw=True)

Printing all graphs for data in 'lco/coj_2m0a_2016-02-01_2016-08-01'...
Loading Dataframe...

D:\lco\archive_scraper\get_dataframe_lco_default.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,new_dataframe],axis=0)

Converting dates to datetime objects...
Extracting RA and Dec...
Dropping excess columns...
Reducing frames...
Filling empty proposal IDs...
Sorting frames by date...
Extracting science blocks...

In [8]:
df

,datetime,BLKUID,EXPTIME,FILTER,INSTRUME,OBJECT,OBSTYPE,PROPID,REQNUM,RLEVEL,RA,DEC
0,2016-02-01 05:17:13.377000,76661666.0,0.000000,air,fs01,,BIAS,calibrate,NaN,91,178.722735,-58.696325
1,2016-02-01 05:17:59.153000,76661666.0,0.000000,air,fs01,,BIAS,calibrate,NaN,91,178.722735,-58.696325
2,2016-02-01 05:21:50.351000,76661666.0,0.000000,air,fs01,,BIAS,calibrate,NaN,91,107.877132,-58.696413
3,2016-02-01 05:22:05.507000,76661666.0,0.000000,air,fs01,,BIAS,calibrate,NaN,91,323.940306,-58.696419
4,2016-02-01 05:22:20.694000,76661666.0,0.000000,air,fs01,,BIAS,calibrate,NaN,91,324.003401,-58.696425
...,...,...,...,...,...,...,...,...,...,...,...,...
10622,2016-07-31 05:39:20.610000,88091935.0,900.000000,air,fs01,,DARK,calibrate,NaN,91,2.677991,-58.879135
10623,2016-07-31 05:55:05.745600,88091935.0,900.000000,air,fs01,,DARK,calibrate,NaN,91,358.717492,-58.879212
10624,2016-07-31 05:55:05.764000,88091935.0,900.000000,air,fs01,,DARK,calibrate,NaN,91,6.638576,-58.878603
10625,2016-07-31 06:10:50.967000,88091935.0,900.000000,air,fs01,,DARK,calibrate,NaN,91,10.598476,-58.877618
10626,2016-07-31 06:26:36.154000,88091935.0,900.000000,air,fs01,,DARK,calibrate,NaN,91,14.558595,-58.876186

In [9]:
bl

,blkuid,propid,start_date,duration,exposure_sum,science_exposure_sum,time_efficiency,exposure_science_efficiency,total_science_efficiency,largest_gap,target,mean_ra,mean_dec,moving,pattern,orphan,reqnum,instrument,num_exposures,science_exposure_times
0,76701806.0,KEY2014A-002,2016-02-01 10:14:29.486,1800.000,1800.0,1800.0,1.00000,1.00000,1.00000,0.000,SDSS0153m10,1.888207,-10.003155,False,"(((1800.000000, en05, air, SPECTRUM), 1),)",False,487801.0,en05,1,"(1800.000000,)"
1,76705538.0,FTPEPO2014A-004,2016-02-01 11:14:18.716,30.000,30.0,30.0,1.00000,1.00000,1.00000,0.000,g16aar,2.974204,-46.472372,False,"(((30.000000, fs01, V, EXPOSE), 1),)",False,490067.0,fs01,1,"(30.000000,)"
2,76706489.0,ARI2015B-001,2016-02-01 11:19:01.488,92.822,60.0,60.0,0.64640,1.00000,0.64640,32.822,NGC1818,5.072776,-66.450746,True,"(((30.000000, fs01, V, EXPOSE), 1), ((30.00000...",False,486725.0,fs01,2,"(30.000000, 30.000000)"
3,76707521.0,ARI2015B-001,2016-02-01 11:25:02.636,92.628,60.0,60.0,0.64775,1.00000,0.64775,32.628,NGC1831,5.107409,-64.936733,False,"(((30.000000, fs01, V, EXPOSE), 1), ((30.00000...",False,486743.0,fs01,2,"(30.000000, 30.000000)"
4,76708615.0,FTPEPO2014A-004,2016-02-01 11:32:53.661,419.341,360.0,360.0,0.85849,1.00000,0.85849,29.995,G16 aar,2.150181,-63.252531,True,"(((120.000000, fs01, V, EXPOSE), 1), ((120.000...",False,489777.0,fs01,3,"(120.000000, 120.000000, 120.000000)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,88088523.0,FTPEPO2014A-004,2016-07-30 16:26:58.961,794.216,720.0,720.0,0.90655,1.00000,0.90655,14.908,29P,19.453787,-25.817570,False,"(((120.000000, fs01, rp, EXPOSE), 6),)",False,671312.0,fs01,6,"(120.000000, 120.000000, 120.000000, 120.00000..."
1157,88090498.0,KEY2014A-003,2016-07-30 16:49:03.504,1992.352,1900.0,1800.0,0.95365,0.94737,0.90345,50.915,at 2016ekt,21.888991,-34.415839,True,"(((1800.000000, en05, air, SPECTRUM), 1), ((80...",False,671138.0,en05,3,"(1800.000000,)"
1158,88092640.0,KEY2014A-003,2016-07-30 17:30:48.139,2902.053,2800.0,2700.0,0.96483,0.96429,0.93038,55.971,sn 2016eii,3.136435,-69.038593,True,"(((2700.000000, en05, air, SPECTRUM), 1), ((80...",False,671145.0,en05,3,"(2700.000000,)"
1159,88095601.0,LCO2016A-002,2016-07-30 18:25:07.428,3801.700,3700.0,3600.0,0.97325,0.97297,0.94694,54.742,SN 2016egz,0.065715,-34.826467,True,"(((3600.000000, en05, air, SPECTRUM), 1), ((80...",False,671546.0,en05,3,"(3600.000000,)"
1160,88098658.0,FTPEPO2014A-004,2016-07-30 19:36:00.100,179.719,120.0,120.0,0.66771,1.00000,0.66771,30.316,ASASSN-16gy,2.357476,16.547899,False,"(((40.000000, fs01, V, EXPOSE), 1), ((40.00000...",False,655782.0,fs01,3,"(40.000000, 40.000000, 40.000000)"

In [24]:
bl.sort_values("num_exposures").loc[306]

blkuid                                                                78278824.0
propid                                                              LCO2015B-012
start_date                                            2016-02-21 11:01:41.492000
duration                                                               17100.296
exposure_sum                                                              4938.0
science_exposure_sum                                                      4938.0
time_efficiency                                                          0.28877
exposure_science_efficiency                                                  1.0
total_science_efficiency                                                 0.28877
largest_gap                                                               18.465
target                                                               KS22C018630
mean_ra                                                                 8.961309
mean_dec                                                              -20.456894
moving                                                                     False
pattern                                   (((6.000000, fs01, gp, EXPOSE), 823),)
orphan                                                                     False
reqnum                                                                  492580.0
instrument                                                                  fs01
num_exposures                                                                823
science_exposure_times         (6.000000, 6.000000, 6.000000, 6.000000, 6.000...
Name: 306, dtype: object

In [14]:
bl.columns

Index(['blkuid', 'propid', 'start_date', 'duration', 'exposure_sum',
       'science_exposure_sum', 'time_efficiency',
       'exposure_science_efficiency', 'total_science_efficiency',
       'largest_gap', 'target', 'mean_ra', 'mean_dec', 'moving', 'pattern',
       'orphan', 'reqnum', 'instrument', 'num_exposures',
       'science_exposure_times'],
      dtype='object')